{% extends 'layout.html' %} {% block body %}


</style>
    <p style="text-align: center;"><br></p>
    <h3 class="heading mb-sm-5 mb-4 text-center"> How it works</h3>
    <p style="text-align: center;"><strong><span style="color: rgb(0, 0, 0); font-size: 20px;">First question: What Crop to grow ?</span></strong></p>
    <p style="text-align: center;">In this section we have look how to work with crop recommendation works&nbsp;</p>
    <p style="text-align: center;">Step 1: In the Home Screen Nav bar click on crop recommend button as shown in below figure.&nbsp;</p>
    <p><br></p>
    <img src="{{ url_for('static', filename='images/screen1.png') }}" style="width:900px;height:600px;" class="center" alt="" />
    <p><br></p>
    <p style="text-align: center;"> Step 2: After that Crop Recommendation form will be presented to fill out the soil characteristics .&nbsp; </p>
    <p style="text-align: center;"><strong><span style="font-size: 19px;">Sample values:</span>&nbsp;&nbsp;</strong> Nitrogen : 90 , Phosphorous: 42 , Potassium: 43, Temperature: 20.879, humidity:82, ph: 6.502, rainfall:202.934, state: Karnataka, city: Bengaluru&nbsp;<br><br></p>
{% endblock %}
